body {
  display: grid;
  grid-template-areas:
    "menu"
    "search"
    "main"
    "footer";
  grid-template-rows: auto;
}

.menu,
.search,
.main,
.footer {
  border: 1px solid black;
  padding: 10px;
}

.menu {
  grid-area: menu;
  display: flex;
  justify-content: space-around;
}

.search {
  grid-area: search;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  /* Aquí puedes personalizar tu tarjeta de producto */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: calc(100% / 3 - 10px); /* Asume un margen de 10px */
  height: 200px;
  margin: 5px; /* Asume un margen de 10px */
}

.footer {
  grid-area: footer;
  position: sticky;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
      "menu search"
      "menu main"
      "footer footer";
    grid-template-columns: 20% 80%;
  }
  .main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
